.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f8f8f8;
}

.app__content {
  width: 100%;
  display: flex;
  max-width: 100%;
  margin-top: 10vh;
}
